body {
    padding-top: 70px;
    background-color: white;
}

nav {
    font-size: 20px;
}
    

div {
    border-style: hidden;
    border-width: 2px;
    border-color: white;
    padding: 20px;
}

.container {
    border-style: none;
    border-color: white;
}

.row {
    border-style: none;
    border-color: white;
}

.list-group-item {
    border: 0;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #f2dede;
}

.content {
    border-style: hidden;
    border-color: grey;
}

#current-link {
    background-color: #46b8da
}

.jumbotron {
    background-image: url("http://wallpoper.com/images/00/43/54/14/sakura-cherry-blossom_00435414.jpg")
    
}

.jumbotron-text {
    color: white;
}

.jumbotron-head {
    font-size: 60px;
    color: white;
    
}

.chelsea {
    width: 400px;
    height: auto;
}